{
    "semi": true,
    "singleQuote": true,
    "arrowParens": "always",
    "printWidth": 100,
    "proseWrap": "preserve",
    "tabWidth": 4,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "endOfLine": "lf"
}
